<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- <script src="./node_modules/angular/angular.min.js"></script> -->
    <script src="https://cdn.bootcdn.net/ajax/libs/angular.js/1.4.6/angular.min.js"></script>
</head>
<body>
    <div>
        <h1>AngularJS ng-model 指令</h1>
        <p>ng-model指令用于绑定应用程序数据到HTML 控制器的值</p>
        <p>ng-model指令的值可以是任何类型，包括字符串、数字
            或对象。</p>
        <p>ng-model 指令将输入域的值与AngularJS创建的变量绑定</p>
        <form ng-app="myApp" name="myForm" ng-controller="myCtrl" ng-init="mytext='asdfaf@q63.com'">
            <h2>ng-model 指令</h2>
            <p>实例：</p>
            <p>名字：<input type="text" ng-model="name"></p>
            双向绑定 当修改了输入框的值，AngularJS的值也随之改变
            <p>{{name}}</p> 

            <h2>验证用户输入</h2>
            Email:
            <input type="email" name="myAddress" ng-model="text">
            <span ng-show="myForm.myAddress.$error.email">不是一个合法的邮箱地址</span>
            <p>在输入框中输入你的邮箱地址，如果不是一个合法的邮箱地址，会弹出提示信息。</p>

            <h2>应用状态</h2>
            Email:
            <input type="email" name="myEmail" ng-model="mytext">
            <p>Vaild: {{myForm.myEmail.$valid}} （如果输入的值是合法的则为 true）</p>
            <p>Dirty: {{myForm.myEmail.$dirty}} （如果值改变则为 true）</p>
            <p>Touched: {{myForm.myEmail.$touched}} （如果通过触屏点击则为 true）</p>

            <h2>CSS 类</h2>
            <p>输入框中输入值，通过 ng-class 指令添加 CSS 类，设置输入之后的样式</p>
            <p>实例：设置输入文本信息后输入框背景失效</p>
            <style>
                input.ng-invalid {
                    background-color: lightblue;
                }
            </style>
            <p>输入你的名字：<input name="myName" ng-model="myText" required></p>
        </form>
        
    </div>
</body>
<script>
    var app = angular.module('myApp', []);
    app.controller('myCtrl', function($scope) {
        $scope.name = "AngularJS";
    });    
</script>   

</html>