<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="./node_modules/angular/angular.min.js"></script>
</head>

<body>
    <div ng-app="myApp">
        <h1>AngularJS Service(服务)</h1>
        <p>AngularJS 可以创建自己的服务</p>
        <p>服务是AngularJS 应用中可复用的功能集合</p>
        <p>服务是一个函数或者对象，可以在AngularJS 的应用程序中使用</p>
        <p>服务可以被注入到应用的任何地方</p>
        <div ng-controller="customersCtrl">
            <h2>$location 服务</h2>
            <p>返回当前页面的url地址</p>
            <p>AngularJS 会一直监控应用 $location 服务在某种意义上讲比window.location对象好</p>
            <p>当前页面的url地址：{{location}}</p>
        </div>

        <div ng-controller="myCtrl">
            <h2>$http 服务</h2>
            <p>AngularJS 内置的 $http 服务可以用来发送http请求</p>
            <p>AngularJS 的 $http 服务返回一个promise对象</p>
            <p>promise对象是一个AngularJS 用来处理异步操作的对象</p>
            <p>当promise对象被resolve或reject时，promise对象的状态变为resolved或rejected</p>
            <p>欢迎网页：{{customers}}</p>

            <h2>$timeout 服务</h2>
            <p>AngularJS 内置的 $timeout 服务可以用来延迟执行一个函数</p>
            <p>延迟执行的函数可以接受一个参数，这个参数是延迟执行的毫秒数</p>
            <p>{{myHeader}}</p>

            <h2>$interval 服务</h2>
            <p>AngularJS 内置的 $interval 服务可以用来设置一个定时器</p>
            <p>定时器可以设置一个函数，这个函数会在设定的毫秒数后被调用</p>
            <p>定时器可以设置一个参数，这个参数会被传递给定时器函数</p>
            <p>{{theTime}}</p>

            <h2>创建自定义服务</h2>
            <p>AngularJS 支持创建自定义服务</p>
            <p>自定义服务可以被注入到应用的任何地方</p>
            <p>例子：创建一个自定义服务 hexafy 用于将十进制数字转为16进制</p>
            <input type="text" ng-model="dec" placeholder="请输入一个十进制数字">
            <button ng-click="hexafy()">转为16进制</button>
            <p>结果为：{{hex}}</p>

            <h2>过滤器中使用自定义服务</h2>
            <p>AngularJS 在创建自定义服务，并连接到应用之后，可以在控制器，指令，过滤器或其他的服务中使用</p>
            <p>例子：在过滤器myFormat 中使用hexafy</p>
            <ul>
                <li ng-repeat="x in counts">{{x | myFormat}}</li>
            </ul>
        </div>
    </div>
</body>

<script>
    var app = angular.module('myApp', []);
    app.controller('customersCtrl', function ($scope, $location) {
        $scope.location = $location.absUrl();
    });
    // 使用$http服务向服务器请求数据
    app.controller('myCtrl', function ($scope, $http) {
        $http.get('https://www.baidu.com').then(function (response) {
            $scope.customers = response.data;
        });
    });
    // 使用$timeout服务延迟执行一个函数
    app.controller('myCtrl', function ($scope, $timeout) {
        $scope.myHeader = 'Hello';
        $timeout(function () {
            $scope.myHeader = 'How are you today?';
        }, 2000);
    });
    // 使用$interval服务设置一个定时器
    app.controller('myCtrl', function ($scope, $interval) {
        $scope.theTime = new Date().toLocaleTimeString();
        $interval(function () {
            $scope.theTime = new Date().toLocaleTimeString();
        }, 1000);
    });
    // 创建自定义服务
    app.service('hexafy', function () {
        this.hexafy = function (dec) {
            return parseInt(dec).toString(16);
        };
    });
    // 注入自定义服务
    app.controller('myCtrl', function ($scope, hexafy) {
        $scope.hexafy = function () {
            $scope.hex = hexafy.hexafy($scope.dec);
        };
    });
    // 在过滤器中使用自定义服务
    app.filter('myFormat', ['hexafy', function (hexafy) {
        return function (dec) {
            return hexafy.hexafy(dec);
        };
    }]);
    app.controller('myCtrl', function ($scope) {
        $scope.counts = [255, 251, 200];
    });
</script>

</html>